{% extends "notloggedbase.html" %}

{% block header %}
Log in to see your characters
{% endblock %}

{% block content %}
<center>
    <form action="" method="post">
        Username:<br>
        <input type=text class="form-control" name="username"><br>
        Password:<br>
        <input type=password class="form-control" name="password"><br><br>
        <input type=submit value=Login class="btn btn-primary">
    </form>
    <br><br>
    <a href="/newuser/">Register for access</a>
</center>
{% endblock %}